.box {
    display: flex;
    flex-direction: column;
    gap:50px;
    align-items: center;
    align-content: center;
    height: 500px;
    padding: 25px;
}

.title {
    display: flex;
}

.input-field {
    display: flex;
}